apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: 
    server: 
  name: do-sgp1-k8s-antrein
contexts:
- context:
    cluster: do-sgp1-k8s-antrein
    user: do-sgp1-k8s-antrein-admin
  name: do-sgp1-k8s-antrein
current-context: do-sgp1-k8s-antrein
kind: Config
preferences: {}
users:
- name: do-sgp1-k8s-antrein-admin
  user:
    token: